<html>
<head>
<title>Login</title>
    <link href="<%= url('/userstyle.css') %>" rel="stylesheet" type="text/css">
<body>
    <div class="container">
            <h1 id="login">Login</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" id="username" placeholder="username" autocomplete="off" class="field">
            <input type="password" name="password" id="password" placeholder="password" class="field">
            <input type="submit" name="submit" id="submit" value="submit" class="hidden">
            <label for="submit" tabindex="0"><h1>--></h1></label>
        </form>
        
        
        <a href="/signup" >create account</a>
         
    </div>

</body>
</head>
</html>